*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-size: 18px;
}
body
{
 height: 100vh;
 display:flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 color:white;

}
.gaine{
width:30%;
height: 40px;
color:black;
border-radius: 5px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
position:absolute;
top:50%;
}
.gaine_p{
    width:30%;
    display: inline;
    display: flex;
justify-content: center;
align-items: center;
background-color: white;
color: black;
padding:4px 0px;
border-radius: 8px 8px 0px 0px;
box-shadow: 0px 5px 20px white;
}
.gaine_none{
    display: none;
}
.gaine_b{
    display: inline;
    width: 30%;
background-color: white;
color: blue;
border:none;
padding:4px 0px;
box-shadow: 0px 5px 10px white;
border-radius: 0px 0px 8px 8px;
}
.gaine_b:hover{
    letter-spacing: 0.8px;
    cursor: pointer;
    text-decoration: underline;
}
.foter{
    display: flex;
    flex-direction: column;
}
.container
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    min-height: 350px;
    max-height: auto;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    /* outline: 2px solid red; */
    gap:10px;
    position: relative;

}
.container div
{
    width:95%;
    /* outline: 2px solid blue; */
display: flex;
align-items: center;
justify-content: space-evenly;
}

.nouveaux , .arier
{
    width:60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    color:black;
}
.nouveaux
{
    width: 70px;
    font-size:10px;
}
input{
    width:65px;
    border-radius: 8px;
    height: 35px;
    background-color: black;
    color: white;
    border: 3px solid gray;
    outline: none;
    padding: 0 4px;

}
p{
    transition: 0.5s;
}
p:hover{
    cursor: pointer;
    letter-spacing:0.5px;
}
.go {
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.resultat{
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}
.flech{
    font-size: 35px;
}

